In [5]:

# Load CSV data into a SQLite database
import pandas as pd

# Path to your CSV file
csv_file = 'C:\\Users\Suyash Pandey\Desktop\Application\E-commerce_App\src\products.csv'  # Update this to your actual CSV file path
df = pd.read_csv(csv_file, encoding='utf-8')

In [ ]:
# Verify data loaded into the products table
import sqlite3
import pandas as pd

conn = sqlite3.connect('ecommerce.db')
query = 'SELECT * FROM products LIMIT 10'
df = pd.read_sql(query, conn)
print(df)
conn.close()

,id,cost,category,name,brand,retail_price,department,sku,distribution_center_id
0,13842,2.51875,Accessories,Low Profile Dyed Cotton Twill Cap - Navy W39S55D,MG,6.25,Women,EBD58B8A3F1D72F4206201DA62FB1204,1
1,13928,2.33835,Accessories,Low Profile Dyed Cotton Twill Cap - Putty W39S55D,MG,5.95,Women,2EAC42424D12436BDD6A5B8A88480CC3,1
2,14115,4.87956,Accessories,Enzyme Regular Solid Army Caps-Black W35S45D,MG,10.99,Women,EE364229B2791D1EF9355708EFF0BA34,1
3,14157,4.64877,Accessories,Enzyme Regular Solid Army Caps-Olive W35S45D (...,MG,10.99,Women,00BD13095D06C20B11A2993CA419D16B,1
4,14273,6.50793,Accessories,Washed Canvas Ivy Cap - Black W11S64C,MG,15.99,Women,F531DC20FDE20B7ADF3A73F52B71D0AF,1

In [10]:

# Load CSV data into the products table in SQLite
import pandas as pd
import sqlite3

# Path to your CSV file
csv_file = 'C:\\Users\Suyash Pandey\Desktop\Application\E-commerce_App\src\products.csv' 
df = pd.read_csv(csv_file, encoding='utf-8')

# Connect to SQLite database (creates file if it doesn't exist)
conn = sqlite3.connect('ecommerce.db')
cursor = conn.cursor()

# Create the products table if it doesn't exist
cursor.execute('''
CREATE TABLE IF NOT EXISTS products (
    id INTEGER PRIMARY KEY,
    cost REAL,
    category TEXT,
    name TEXT,
    brand TEXT,
    retail_price REAL,
    department TEXT,
    sku TEXT UNIQUE,
    distribution_center_id INTEGER
)
''')
conn.commit()

# Load data into the products table
df.to_sql('products', conn, if_exists='replace', index=False)

# Preview the first 5 rows to verify
result = pd.read_sql('SELECT * FROM products LIMIT 5', conn)
print(result)

# Close the connection
conn.close()

      id     cost     category  \
0  13842  2.51875  Accessories
1  13928  2.33835  Accessories
2  14115  4.87956  Accessories
3  14157  4.64877  Accessories
4  14273  6.50793  Accessories

                                                name brand  retail_price  \
0   Low Profile Dyed Cotton Twill Cap - Navy W39S55D    MG          6.25
1  Low Profile Dyed Cotton Twill Cap - Putty W39S55D    MG          5.95
2       Enzyme Regular Solid Army Caps-Black W35S45D    MG         10.99
3  Enzyme Regular Solid Army Caps-Olive W35S45D (...    MG         10.99
4              Washed Canvas Ivy Cap - Black W11S64C    MG         15.99

  department                               sku  distribution_center_id
0      Women  EBD58B8A3F1D72F4206201DA62FB1204                       1
1      Women  2EAC42424D12436BDD6A5B8A88480CC3                       1
2      Women  EE364229B2791D1EF9355708EFF0BA34                       1
3      Women  00BD13095D06C20B11A2993CA419D16B                       1
4      Women  F531DC20FDE20B7ADF3A73F52B71D0AF                       1